@charset "ISO-8859-1";


#alerta{
	font-size: 15px;
	margin: 1% 2% 1% 2%;
	width: 30%;
}

.btn-info{
	float: right;
}

#validacionMensaje{
	padding: 0px;
	position: relative;
}

#notificacionesContacto{
	
	margin-top: 13px;
	
	
}