@charset "ISO-8859-1";


#alerta{
	font-size: 15px;
	margin: 1% 2% 1% 2%;
	width: 30%;
}

.btn-info{
	float: right;
}

#validacionMensaje{
	padding: 0px;
	position: relative;
}

#notificacionesContacto{
	margin-top: 13px;
}

#experienciaContacto{
	margin-top: 9.5px;
}

/* Separación de la información dentro de los checkbox y los radio */
input[type=checkbox]{
   margin:10px !important;
}

input[type="radio"] {
	margin:10px !important;
}
.modal-content{
	margin-top: 50%;
}


