<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<!--  Configuramos nuestro DispatcherServlet donde se le indicará de donde se obtendrán los beans
	En este caso se recogera en la clase dispatcher-servlet.xml ubicado dentro de la carpeta /spring:
		- /WEB-INF/spring/dispatcher-servlet-xml	
	
	DispatcherServlet: Es el encargado de recibir todas las peticiones de nuestra aplicación. 	-->
	
	<servlet>
	<servlet-name>dispatcher</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/dispatcher-servlet.xml</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
		
		
		<!--  Configuración para permitir subir ficheros -->
		<!--  ########################################## -->

	<!-- Formato windows 
	<multipart-config> 
		<location>c:\tmp</location> 
	</multipart-config> 
	-->

		<!-- Formato Unix -->
	<multipart-config>
		<location>/Users/joseplasenciavillarejo/Downloads/images</location>
	</multipart-config>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- ########################################################################################## -->	

	<!-- Apartir de la especificación 3.0 del API de Servlets existen varias formas de como llevar el rastreo de la sessión 
		(session tracking mode). Las 3 formas son:
    		1-. COOKIE
    		2.- URL
    		3.- SSL.
    
		Esa es la razón por la cual aparece el ID de la Sesión en la URL (jsessionid). En este caso para que no se agregue este 
		parámetro en la URL, hay que cambiar la configuración del session tracking mode para que el ID de la Sesión se guarde en COOKIES.

		Para esta configuración debes realizar lo siguiente: -->

    <session-config> 
       <tracking-mode>COOKIE</tracking-mode> 
    </session-config>
	<!-- #################################################################################################################### -->


	<!-- Configuración de Nuestro Listener -->
	<!-- ################################# -->
	
	<!-- 1.- En este parámetro le vamos a indicar la ubicacion de nuestro archivo de configuración para nuesto "ROOT-CONTEXT" -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- #################################################################################################################### -->


	<!--  ### Configuración Log4j2 ### -->
	<!-- Referencia al fichero log4j2.xml -->

    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>classpath:log4j2.xml</param-value>
<!--         <param-value>file:///D:/conf/myLogging.xml</param-value> -->
    </context-param>

    
	<!-- #################################################################################################################### -->
	
	<!-- ### Configuración de paginas de error por defecto  -->
    <error-page>
       <error-code>404</error-code>
       <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>


	<!-- #################################################################################################################### -->

</web-app>