<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="basePath">/Users/joseplasenciavillarejo/Desktop</Property>
	</Properties>


	<Appenders>	
	
	<!-- Log diario. -->
		<RollingFile name="fileLogger"
			fileName="${basePath}/logPruebas.log"
			filePattern="${basePath}/logPruebas-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<!-- Max 5 files will be created everyday -->
			<DefaultRolloverStrategy max="1" />
		</RollingFile>
	
		<RollingFile name="fileLogger2"
			fileName="${basePath}/logPruebasDos.log"
			filePattern="${basePath}/logPruebasDos-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<!-- Max 5 files will be created everyday -->
			<DefaultRolloverStrategy max="1">
				<Delete basePath="${basePathr}" maxDepth="5">
					<!-- Delete all files older than 5 days -->
					<IfLastModified age="5d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	
	
	
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	
	
	
	<Loggers>
	
	<!-- Crea los ficheros de salida, para almacenar la informacion en ellos o bien se indica en el loger con el nombre 
	que se le de a está instancia -> Logger name="LoggerSalida" o bien se recoge de todo el proyecto "curso.spring.mvc" -->
		<Logger name="curso.spring.mvc" level="all" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="fileLogger" />
			<AppenderRef ref="fileLogger2" />
		</Logger>
		
	
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>